{% extends 'base.html' %}

{% load staticfiles %}
{% load i18n %}
{% load markup %}


{% block site_title %}{{ object.title }} | astroEDU {% endblock %}

{% block extra_css %}
<meta property="og:title" content="{{object.title}}" />
<meta property="og:description" content="{{object.teaser}}" />
<meta property="og:image" content="http://astroedu.iau.org/media/activities/thumb/{{object.code}}.jpg" />
{% endblock %}

{% block content %}

{% if user.is_staff %}
<div class="admin-toolbar">
    {% if object %}
	<div class"modeladmin">
		<a href="{{ object.get_admin_change_url }}">Edit</a> |
		<a href="{{ object.get_admin_delete_url }}">Delete</a> |
		<a href="{{ object.get_admin_history_url }}">History</a> |
		<a href="{{ object.get_admin_add_url }}">Add another {{ object.get_verbose_name }}</a> |
		<a href="{{ object.get_admin_changelist_url }}">Manage {{ object.get_verbose_name_plural }}</a>
	</div>
    {% endif %}
    <div class="archival{% if not object.is_visible%}_private{% endif %}">
    	is_visible: {{ object.is_visible }} |
    	published: {{ object.published }} |
    	release_date: {{ object.release_date }} |
    	embargo_date: {{ object.embargo_date }} |
    </div>
</div>
{% endif %}

<div class="layout_content">

	<div class="layout_container activity_detail">

	<div class="layout_leftcolumn">

	<h1 class="detail">{{ object.title }}</h1>
	<div class="summary">{{ object.teaser }}</div>
	<div class="author">{{ object.author.name }}, {{ object.institution.name }}</div>

	{% include "activities/detail_section.html" with code="description" text="Brief Description" content=object.description|markdown %}
	{% include "activities/detail_section.html" with code="goals" text="Goals" content=object.goals|markdown %}
	{% include "activities/detail_section.html" with code="objectives" text="Learning Objectives" content=object.objectives|markdown %}
	{% include "activities/detail_section.html" with code="evaluation" text="Evaluation" content=object.evaluation|markdown %}
	{% include "activities/detail_section.html" with code="materials" text="Materials" content=object.materials|markdown %}
	{% include "activities/detail_section.html" with code="background" text="Background Information" content=object.background|markdown %}
	{% include "activities/detail_section.html" with code="fulldesc" text="Full Activity Description" content=object.fulldesc|markdown %}
	{% include "activities/detail_section.html" with code="curriculum" text="Curriculum" content=object.curriculum|markdown %}
	{% include "activities/detail_section.html" with code="additional_information" text="Additional Information" content=object.additional_information|markdown %}
	{% include "activities/detail_section.html" with code="conclusion" text="Conclusion" content=object.conclusion|markdown %}
  

</div>
<div class="layout_rightcolumn">

	<div class="meta">
		{% include "activities/detail_section_meta.html" with code="keywords" text="Keywords" content=object.keywords %}
		{# {% include "activities/detail_section_meta.html" with code="language" text="Language" content=object.lang %} #}
		{% include "activities/detail_section_meta.html" with code="age" text="Age" content=object.age_display %}
		{% include "activities/detail_section_meta_list.html" with code="level" text="Level" content=object.level.all %}
		{% include "activities/detail_section_meta.html" with code="time" text="Time" content=object.time %}
		{% include "activities/detail_section_meta.html" with code="group" text="Group" content=object.group %}
		{% include "activities/detail_section_meta.html" with code="supervised" text="Supervised" content=object.supervised %}
		{% include "activities/detail_section_meta.html" with code="cost" text="Cost" content=object.cost %}
		{% include "activities/detail_section_meta.html" with code="location" text="Location" content=object.location %}
		{% include "activities/detail_section_meta_list.html" with code="skills" text="Core skills" content=object.skills.all %}
		{% include "activities/detail_section_meta.html" with code="learning" text="Type of learning activity" content=object.learning %}

		<div style="margin-top: 20px;"></div>
		{% if object.attachment_list %}
		<div class="section_meta_2 grey">
			<div class="title_text">Attachments</div>
			{% for attachment in object.attachment_list %}
				<div class="content"><img src="{% static 'designimages/attachment_icon.png' %}" alt="" /><a href="/media/{{ attachment.file.name }}" target="_blank">{{ attachment.display_name }}</a></div>
			{% endfor %}
			{% if object.attachment_list|length > 1 %}
			<div class="title_text">All Attachments</div>
			<div class="content"><img src="{% static 'designimages/attachment_all_icon.png' %}" alt="" /><a href="/media/activities/download/{{object.download_key}}.zip" target="_blank">All attachments</a></div>
			{% endif %}
		</div>
		{% endif %}
		<div class="section_meta_2 orange">
			<div class="title_text">Downloads</div>
			<div class="icon">
				<a href="/media/activities/download/{{object.download_key}}.pdf"><img title="PDF" src="{% static 'designimages/sections-orange/file_pdf.svg' %}" alt="" /></a>
				{# <a href="/media/activities/download/{{object.download_key}}.rtf"><img title="RTF" src="{% static 'designimages/sections-orange/file_rtf.svg' %}" alt="" /></a> #}
				<a href="/media/activities/download/{{object.download_key}}.epub"><img title="ePUB" src="{% static 'designimages/sections-orange/file_epub.svg' %}" alt="" /></a>
			</div>
		</div>
		<div class="section_meta_2 grey">
			<div class="title_text">Share</div>			
			<div class="icon">

<!-- AddThis Button BEGIN -->
<div class="addthis_toolbox addthis_default_style addthis_32x32_style">
<a class="addthis_button_facebook" title="Share on Facebook" style="opacity:1;"><img src="{% static 'designimages/sections-grey/share_facebook.svg' %}" alt="" /></a>
<a class="addthis_button_google_plusone_share" title="Share on Google+" style="opacity:1;"><img src="{% static 'designimages/sections-grey/share_google.svg' %}" alt="" /></a>
<a class="addthis_button_twitter" title="Share on Twitter" style="opacity:1;"><img src="{% static 'designimages/sections-grey/share_twitter.svg' %}" alt="" /></a>
</div>
<script type="text/javascript">
var addthis_config = { "theme": "light"}
var addthis_share = {
	"description": "{{object.teaser}}", 
	"templates": {
		"twitter": "{{object.title}} | @iauastroEDU {{'{{'}}url}}",
	}
}
</script>
<script type="text/javascript" src="http://s7.addthis.com/js/250/addthis_widget.js#pubid=ra-5049c4220f20f27d">
</script>
<!-- AddThis Button END -->
			</div>
		</div>

		{% if object.repositoryentry_set.all %}
		<div class="section_meta_2 orange">
			<div class="title_text">Repositories</div>
			<div class="icon">
			{% for repositoryentry in object.repositoryentry_set.all %}
				<a href="{{repositoryentry.url}}" target="_blank" title="{{repositoryentry.repo_title}}"><img src="{% static 'designimages/repositories/'|add:repositoryentry.repo|add:'.png' %}" alt="{{repositoryentry.repo_title}}" /></a>
			{% endfor %}
			</div>
		</div>
		{% endif %}

		<div class="section_meta_2 grey">
			<div class="title_text">Citation</div>
			<div class="icon">
				{{object.author.citable_name}}, {{object.release_date|date:"Y"}}, <i>{{object.title}}</i>, <a href="{{object.get_absolute_url}}">astroEDU, {{object.code}}</a>{% if object.doi %}, <a href="http://dx.doi.org/{{object.doi}}"> doi:{{object.doi}}</a>{% endif %}
			</div>
		</div>

		{% if object.acknowledgement %}
		<div class="section_meta_2 orange">
			<div class="title_text">Acknowledgement</div>
			<div class="icon">
				{{object.acknowledgement}}
			</div>
		</div>
		{% endif %}

	</div>

</div>

<div class="comments">
    <div id="disqus_thread"></div>
    <script type="text/javascript">
        var disqus_shortname = 'astroedu'; 
        var disqus_identifier = 'activity/{{ object.uuid }}'
        var disqus_title = '{{ object.title }}'
        var disqus_category_id = '2646689'; // using category 'activities'
        (function() {
            var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
            dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
        })();
    </script>
    <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
    <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>	
</div>

<div style="clear: both;"></div>

</div>


</div>


{% endblock content %}





