{% spaceless %}
{% load staticfiles %}
{% load i18n %}
{% load markdown %}
{% load getattribute %}
{% load relativise_img_src %}
{% endspaceless %}<?xml version="1.0"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns:epub="http://www.idpf.org/2007/ops" xmlns="http://www.w3.org/1999/xhtml" xml:lang="{{object.lang}}" lang="{{object.lang}}">
<head>
	<title>{{object.title}}</title>
	<style type="text/css">
	.summary { font-style: italic; }
	table{ border-collapse: collapse; border-spacing: 0}
	td, th { border: solid thin; font-size: 70%; height: 10pt; font-family: sans-serif; }
	th { font-weight: bold; }
	.disclaimer { font-style: italic; }
	</style>
</head>
<body>
	<h1>{{ object.title }}</h1>
	<div class="summary">{{ object.teaser }}</div>
	<div class="author">{{ object.author_list }}</div>

    <dl>
	{% for meta in object.metadata_aslist %}
		<dt>{{ meta.1 }}</dt>
		<dd>{{ meta.2 }}</dd>
	{% endfor %}
	</dl>

	{% for section in sections %}
		{% include 'activities/epub_section.html' with code=section.0 text=section.1 content=object|getattribute:section.0|markdown|relativise_img_src:object %}
	{% endfor %}


	<div class="disclaimer">{{ object.get_footer_disclaimer|markdown }}</div>


</body>
</html>
