label.translatable-field, label.required.translatable-field {
    color: red !important; /* important is needed to get required fields */
}
/* admin customisation @goodthngs */

body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif !important;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
    background-color: #fff;
}
.dashboard #content {
    width:100%;
}
.dashboard #content-main {
    width: 70%;
    margin-right:1%;
}
#content-main {
    width: 100%;
    margin-right:0;
}
.dashboard #content-related {
    width: 26%;
    margin-right: 0 !important;
    float: left;
}
td, th, li, dt, dd, form .form-row p, label, a.active.selector-chooseall, a.active.selector-clearall {
    font-size: 13px !important;
}
td, th {
    padding: 8px 9px !important;
    vertical-align: text-bottom;
}
td.original {
    padding: 0px !important;
}
table thead th .text a,
table thead th .text span {
    word-break: break-all;
    max-height: 23px;
    overflow: hidden;
    font-size: 11px;
}
table {
    width: 100%;
    overflow-x: scroll;
    overflow-y: hidden;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar;
    border: 1px solid #ddd;
    border-collapse: collapse; 
    border-spacing: 0;
}
table > thead > tr > th,
table > tbody > tr > th,
table > thead > tr > td,
table > tbody > tr > td {
    white-space: normal !important;
}
table {
    border: 0;
}
.field-box ul {
    padding-left: 38px !important;
}
.addlink, .changelink {
    padding-left: 20px;
}
#header {
    background: #ebebeb;
    color: #6c6c70 !important;
    padding-top: 10px;
}
#header .logo {
    width: 150px;
    height: auto;
    margin: 0 10px 0 15px;
    float:left;
}
#header a {
    color: #000 !important;
    text-decoration: underline;
}
#branding {
  margin-top: 8px;
}
#branding h1 {
    color: #6c6c70 !important;
    font-size: 18px;
    display: inline-block;
    margin: 0;
}

.module h2, .module caption, .inline-group h2 {
    padding: 5px 10px !important;
    background: #6c6c70 !important;
    color: #faaf3f !important;
    font-size: 13px !important;
}
.module h2 a, .module caption a, .inline-group h2 a {
    color: #faaf3f !important;
    text-decoration: underline;
}
#content-related .module h2, .selector .selector-available h2 {
    background: #6c6c70 !important;
}

a.section:link, a.section:visited {
    color: #faaf3f !important;
}

.button.default, input[type=submit].default, .submit-row input.default, .button, input[type=submit], input[type=button], .submit-row input, a.deletelink:link, a.deletelink:visited {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}

.button.default, input[type=submit].default, .submit-row input.default {
    background-color: #5cb85c;
    border-color: #4cae4c;
}
#user-tools {margin-right: 15px;}
.submit-row input {
    margin: 4px 0 0 5px !important;
}
a.deletelink:link, a.deletelink:visited {
    color: #fff;
    background-color: #d9534f;
    border-color: #d43f3a;
}
.submit-row {
    background: #6c6c70 !important;
}

#login-form .submit-row {
    background: white !important; 
}
#login-form .submit-row input {
    background: #faaf3f !important;
    color: white;
    margin: 0 !important;
}
#login-form .submit-row label {
    display: none;
}
.login .submit-row {
    margin: 1em 0 0 -10px !important;
}

input[type=text], input[type=url], input[type=password], textarea, select, .vTextField, .vUrlField {
    min-width: 100px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
select {
    height: 34px;
}
.vTextField, .vLargeTextField {
    width: 85% !important;
}
.calendarbox, .clockbox {
    width: inherit !important;
}
.calendarbox .calendarnav-previous, .calendarbox .calendarnav-next {
    background: none !important;
    font-size: 16px !important;
}
.calendar-shortcuts {
    font-size: 12px !important;
    line-height: 20px !important;
}
.inline-group .tabular td.original p {
    padding: 47px 12px !important;
    color: #aaa !important;
    font-weight: normal !important;
    font-size: 10px !important;
}

#id_age li, #id_level li, #id_time li, #id_group li, #id_supervised li, #id_cost li, #id_location li, #id_skills li, #id_learning li {
    list-style-type: none;
}
#authors-group .original p, #repositoryentry_set-group .original p {
    display: none;
}
#repositoryentry_set-group .vURLField {
    width: 80%;
}

