@media (max-width: 600px) {
    #cookie-policy { 
        height: 50px;
    }
    #cookie-policy p, #cookie-policy a {
        max-width: 85%;
        margin: 10px 0 0 0;
        font-size:12px;
    }
    span.close-btn img {
        width: 30px; 
    }
    .top_left {
        text-align: center;
    }
    .top_right img {
        height: 45px;
    }
    .top_right_search .search_textbox {
        width: 43%;
    }
    .home_slogan {
        padding-top: 30px;
        width: 90%;
        margin: 0 auto;
        font-size: 16px;
        line-height:22px;
    }


    /* big icons */

    .layout_resources > .layout_container {
        max-width: 431px; /* 3*125 + 2*28 */
    }
    .bigicon:not(:first-child) {
        padding-left: 28px;
    }
    .bigicon img {
        width: 125px;
    }


    /* footer: menu and sponsors */ 

    .sponsor-list li {
        margin-left: 10px;
    }
    .sponsor-list li img {
        height: 43px;
    }


}
