.activity_list_item .title {
  padding-bottom: 20px;
}
.activity_list_item .title a {
  font-size: 40px;
  font-weight: bold;
  color: #6c6c70;
  text-decoration: none;
}
.activity_list_item .metadata {
  font-size: 10px;
}
.activity_list_item .image {
  height: 180px;
  margin-top: 22px;
  margin-bottom: 24px;
  background: #f8b132;
}
.activity_list_item .description {
  font-size: 12px;
  font-weight: bold;
}
.activity_list_item .metadata2 {
  margin-top: 44px;
  font-size: 12px;
  font-weight: bold;
}
.activity_list_item .metadata2 .caption {
  margin-top: 16px;
  font-size: 11px;
}
.activity_list_item .metadata2 .value {
  margin-top: 10px;
  color: #f8b132;
  font-size: 16px;
}
.activity_list_item .metadata2 > div {
  float: left;
}
.activity_list_item:first-child {
  margin-left: 0px;
}
.featured_item {
  width: 334px;
  float: left;
  margin-right: 28px;
}
.featured_item .title {
  padding-bottom: 20px;
}
.featured_item .title a {
  font-size: 40px;
  font-weight: bold;
  color: #6c6c70;
  text-decoration: none;
}
.featured_item .metadata {
  margin-bottom: 22px;
  font-size: 10px;
}
.featured_item .image {
  height: 180px;
  margin-bottom: 24px;
  background: #f8b132;
}
.featured_item .description {
  font-size: 12px;
  font-weight: bold;
}
.featured_item .metadata2 {
  margin-top: 44px;
  font-size: 12px;
  font-weight: bold;
}
.featured_item .metadata2 .caption {
  margin-top: 16px;
  font-size: 11px;
}
.featured_item .metadata2 .value {
  margin-top: 10px;
  color: #f8b132;
  font-size: 16px;
}
.featured_item .metadata2 > div {
  float: left;
}
.featured_item:nth-child(3n) {
  margin-right: 0px;
}
.list_item {
  width: 685px;
  margin-bottom: 50px;
}
.list_item .title {
  padding-bottom: 20px;
}
.list_item .title a {
  font-size: 40px;
  font-weight: bold;
  color: #6c6c70;
  text-decoration: none;
}
.list_item .metadata {
  font-size: 10px;
}
.list_item .image {
  height: 180px;
  margin-top: 22px;
  margin-bottom: 24px;
  background: #f8b132;
}
.list_item .description {
  font-size: 12px;
  font-weight: bold;
}
.list_item .metadata2 {
  margin-top: 44px;
  font-size: 12px;
  font-weight: bold;
}
.list_item .metadata2 .caption {
  margin-top: 16px;
  font-size: 11px;
}
.list_item .metadata2 .value {
  margin-top: 10px;
  color: #f8b132;
  font-size: 16px;
}
.list_item .metadata2 > div {
  float: left;
}
.list_item .title a {
  color: #f8b132;
}
