@font-face {
	font-family: 'Gotham';
	font-weight: 400;
	src: url('../fonts/Gotham/GothamLight.otf') format('opentype');
}
@font-face {
	font-family: 'Gotham';
	font-weight: 400;
	font-style: italic;
	src: url('../fonts/Gotham/GothamLight-Italic.otf') format('opentype');
}
@font-face {
	font-family: 'Gotham';
	font-weight: 500;
	src: url('../fonts/Gotham/GothamBook.otf') format('opentype');
}
@font-face {
	font-family: 'Gotham';
	font-weight: 500;
	font-style: italic;
	src: url('../fonts/Gotham/GothamBook-Italic.otf') format('opentype');
}
@font-face {
	font-family: 'Gotham';
	font-weight: 700;
	src: url('../fonts/Gotham/GothamMedium.otf') format('opentype');
}
@font-face {
	font-family: 'Gotham';
	font-weight: 700;
	font-style: italic;
	src: url('../fonts/Gotham/GothamMedium-Italic.otf') format('opentype');
}
@font-face {
	font-family: 'Gotham';
	font-weight: 900;
	src: url('../fonts/Gotham/GothamBold.otf') format('opentype');
}
@font-face {
	font-family: 'Gotham';
	font-weight: 900;
	font-style: italic;
	src: url('../fonts/Gotham/GothamBold-Italic.otf') format('opentype');
}

