{% load i18n %}

        {% if facet %}
        <div class="section_meta"><div class="section_meta_inner">
            <div class="facet">
                <div class="title_text">{% trans text %}</div>
                {% for option in facet %}
                <div class="content">
                    <span class="facet_option" onclick="setfacet('{{code}}', '{{ option.0 }}');">{{ option.1 }}<!--  ({{ option.2 }}) --></span>
                </div>
                {% endfor %}
                {% if selected %}
                <div class="content">
                    <span class="facet_clear" onclick="unsetfacet('{{code}}');">show all</span>
                </div>
                {% endif %}
            </div>
            <div style="clear: both"></div>
        </div></div>
        {% endif %}
