{% extends 'base.html' %}
{% load staticfiles thumbnail i18n %}

{% comment %}<!-- 
page.object_list = [activity1, ... ]
page.has_previous
page.has_next
page.previous_page_number
page.next_page_number
-->{% endcomment %}


{% block site_title %} {% trans 'Search results' %} | astroEDU {% endblock %}

{% block content %}

<div class="layout_content"><div class="layout_container"><div class="layout_leftcolumn">

    <form action="" method="get" id="search_form" style="display:none;">{{ form }}<input type="submit" value="Submit" /></form>

    {% if query %}

    <div class="archives_list">

        {% for result in page.object_list %}
            <!-- {{ result.score|floatformat:2}}  -->{% include 'activities/activity_list_item.html' with object=result.object %}
        {% empty %}
            <p class="notfound"><img src="{% static 'designimages/search_notfound.svg' %}" alt="" /> {% trans 'No results found!' %}</p>
        {% endfor %}

         {% if page.has_previous or page.has_next %}
            <div>
                {% if page.has_previous %}<a href="?q={{ query }}&amp;page={{ page.previous_page_number }}">{% endif %}&laquo; Previous{% if page.has_previous %}</a>{% endif %}
                |
                {% if page.has_next %}<a href="?q={{ query }}&amp;page={{ page.next_page_number }}">{% endif %}Next &raquo;{% if page.has_next %}</a>{% endif %}
            </div>
        {% endif %}
    </div>

    {% else %}
    <p class="notfound"><img src="{% static 'designimages/search_notfound.svg' %}" alt="" /> {% trans 'No results found!' %}</p> 
    {% endif %}


</div><div class="layout_rightcolumn">


{% if query %}
    {% if page.object_list %}
        <div clas="caption">{% trans "Filters" %}:</div>
    {% endif %}
    <!-- Begin faceting. -->
    <div class="meta">
        {% include 'search/search_facet.html' with code='age' text='Age' selected=form.age.value facet=facets.fields.age %}
        {% include 'search/search_facet.html' with code='level' text='Level' selected=form.level.value facet=facets.fields.level %}
        {% include 'search/search_facet.html' with code='time' text='Time' selected=form.time.value facet=facets.fields.time %}
        {% include 'search/search_facet.html' with code='group' text='Group' selected=form.group.value facet=facets.fields.group %}
        {% include 'search/search_facet.html' with code='supervised' text='Supervised' selected=form.supervised.value facet=facets.fields.supervised %}
        {% include 'search/search_facet.html' with code='cost' text='Cost' selected=form.cost.value facet=facets.fields.cost %}
        {% include 'search/search_facet.html' with code='location' text='Location' selected=form.location.value facet=facets.fields.location %}
        {% include 'search/search_facet.html' with code='skills' text='Core skills' selected=form.skills.value facet=facets.fields.skills %}
        {% include 'search/search_facet.html' with code='learning' text='Type of learning activity' selected=form.learning.value facet=facets.fields.learning %}
    </div>
    <!-- End faceting -->
{% endif %}

</div><div style="clear: both;">
</div></div></div>

{% if featured %}
    {% include 'astroedu/featured.html' %}
{% endif %}




{% endblock %}

{% block extra_script %}
<script>

function submit_search() {
    // remove unused facets
    $('#search_form input').each(function(){
        if ($(this).val() == '') {
            // var id = $(this).attr('id');
            // console.log(id);
            $(this).remove();
        }
    });
    $('#search_form').submit();
}
function unsetfacet(name, value) {
    // unset value for facet
    $('#id_'+name).val('');
    submit_search();
}
function setfacet(name, value) {
    // set value for facet
    $('#id_'+name).val(value);
    submit_search();
}
</script>
{% endblock %}

