[program:celery]
environment = DJANGO_SETTINGS_CONFIG="PROD"
command = {{ VIRTUALENV }}/bin/python {{ BASE_DIR }}/manage.py celery worker --loglevel=info
directory = /home/web/astroEDU
user = web
numprocs = 1

stdout_logfile={{ LOG_DIR }}/celery-stdout.log
stderr_logfile={{ LOG_DIR }}/celery-sterr.log

autostart = true
autorestart = true

; Need to wait for currently executing tasks to finish at shutdown.
; Increase this if you have very long running tasks.
stopwaitsecs = 60

; if rabbitmq is supervised, set its priority higher
; so it starts first
priority = 998