[program:flower]
environment = DJANGO_SETTINGS_CONFIG="PROD"
; command = /home/web/.virtualenvs/astroEDU/bin/flower -A astroedu --address=127.0.0.1 --port=5555 --url_prefix=admin/tasks
command = {{ VIRTUALENV }}/bin/python {{ BASE_DIR }}/manage.py celery flower --address=127.0.0.1 --port=5555 --url_prefix=admin/tasks --xheaders
user = web

stdout_logfile = {{ LOG_DIR }}/flower-stdout.log
redirect_stderr = true

; start after celery
priority = 999
