{% load i18n %}{% load staticfiles %}
{# {% load markup %} #}
	<div class="featured_item">
		<div class="title"><a href="{{ object.get_absolute_url }}">{{ object.title }}</a></div>
		<div class="metadata">
			DATE: <b>{{ object.release_date|date:"Y-m-d" }}</b>
			<!-- <img src="{% static 'designimages/metaseparator.png' %}"/></a> --><br/>
			BY:  <b>{{ object.author.name }}, {{ object.institution.name }}</b>
		</div>
		<div class="image"><a href="{% url 'activities:detail' object.slug %}"><img src="/media/activities/thumb/{{object.code}}.jpg" alt="{{ object.title }} Activity" /></a></div>

		<div class="description"><p>{{ object.teaser }}</p></div>
		<div class="metadata_bottom">

			<div class="col">
				<div class="caption">THEME</div>
				<div class="value">{{ object.theme }}</div>
			</div>

			<div class="col">
				<div class="caption">AGE</div>
				<div class="value">{{ object.age_display }}</div>
			</div>

			<div class="activity-link">
				<a href="{% url 'activities:detail' object.slug %}">
					<img src="{% static 'designimages/arrow_next.svg' %}" alt="View activity" />
				</a>
			</div>
			
			<div style="clear: both"></div>

		</div>

	</div>