{% load i18n %}{% load staticfiles %}
	<div class="layout_featured">
		<div class="layout_container">
			<h2>Featured Activities</h2>
			<div>
				{% for object in featured %}
					{% include "astroedu/featured_item.html" %}
				{% endfor %}
			</div>
			<div class="all_activities">
				<a href="/activities/" title="">See all activities <img src="{% static 'designimages/arrow_simple.svg' %}" width="20" height="20" alt="View all activities" /></a>
			</div>
			<div style="clear: both"></div>
		</div>
	</div>
