{% extends 'base.html' %}
{% load staticfiles %}


{% block top %}

	<div class="layout_top">
		<div class="layout_container">
			<div class="top_left">
				<img src="{% static 'designimages/astroedu_logo.png' %}" class="logo" alt="astroedu logo" />
			</div>
			<div class="top_right">
				<a href="http://astro4dev.org" target="_blank">
					<img src="{% static 'designimages/iau_logo.png' %}" alt="iau logo" />
				</a>
				<a href="/volunteer" target="_blank">
					<img src="{% static 'designimages/volunteer_badge.png' %}" alt="apply as volunteer" />
				</a>
			</div>

			<div style="clear: both"></div>
		</div>
	</div>

{% endblock %}


{% block content %}

	<div class="layout_search">
		<div class="home_slogan"><strong>Peer-reviewed</strong> astronomy education activities</div>
		<div class="home_search_box">{% include "astroedu/search_form.html" %}</div>
	</div>

	<div class="layout_featured">
		<div class="layout_container">
			<h2>Featured Activities</h2>
			<div>
				{% for object in featured %}
					{% include "astroedu/featured_item.html" %}
				{% endfor %}
			</div>
			<div style="clear: both"></div>
		</div>
	</div>

{% endblock %}
