{% extends 'base.html' %}
{% load i18n parler_tags staticfiles smartpages pipeline %}
{% get_current_language as LANGUAGE_CODE %}
HOME
{{ LANGUAGE_CODE}}
{% block top %}

	<div class="layout_top">
		<div class="layout_container">
			<div class="top_left">
				<img src="{% static 'designimages/astroedu_logo.png' %}" class="logo" alt="astroEDU logo" />
			</div>
			<div class="top_right">
				<a href="https://medium.com/@iauastroedu/iau-astroedu-honoured-with-science-education-award-95437e356d50" target="_blank">
					<img src="{% static 'designimages/award_badge.png' %}" alt="Scientix Award" />
				</a>
				<a href="http://astro4dev.org" target="_blank">
					<img src="{% static 'designimages/iau_logo.png' %}" alt="IAU logo" title="Office of Astronomy for Development project" />
				</a>
				<a href="/volunteer" target="_blank">
					<img src="
					{% if LANGUAGE_CODE == 'en' %}
						{% static 'designimages/volunteer_badge.png' %}
					{% elif LANGUAGE_CODE == 'it' %}
						{% static 'designimages/unisciti_a_noi_volontari.png' %}
					{% endif %}
  					" alt="{% trans "apply as volunteer"%}" title="{% trans "Join us" %}: {% trans "Volunteer"%}!" />
				</a>
			</div>

			<div style="clear: both"></div>
		</div>
	</div>

{% endblock %}


{% block content %}

	<div class="layout_search">
		<div class="home_slogan"><strong>{% trans "Peer-reviewed" %}</strong> {% trans "astronomy education activities" %}</div>
		<div class="home_search_box">{% include 'astroedu/search_form.html' %}</div>
	</div>

	{% include 'astroedu/featured.html' %}

{% endblock %}
