        {% if facet %}
        <div class="section_meta"><div class="section_meta_inner">
            <div class="facet">
                <div class="title_text">{{text}}</div>
                {% for option in facet %}
                <div class="content">
                    <a href="{{ request.get_full_path }}&amp;selected_facets={{code}}_exact:{{ option.0|urlencode }}">{{ option.0 }}</a> {# ({{ option.1 }}) #}
                </div>
                {% endfor %}
            </div>
            <div style="clear: both"></div>
        </div></div>
        {% endif %}
