{% load i18n staticfiles thumbnail %}
    <div class="list_item{% if not object.is_released%} unpublished{% endif %}">

    	<div class="title"><a href="{% url 'activities:detail' code=object.code slug=object.slug %}">{{ object.title }}</a></div>

        <div class="metadata">
            DATE: <b style="bold">{{ object.release_date|date:"Y-m-d" }}</b>
            <a href="{% url 'activities:detail' code=object.code slug=object.slug %}"><img src="{% static 'designimages/metaseparator.png' %}" alt="" /></a>
            BY:  <b>{{ object.author_list }}</b>
        </div>

        <div class="description">
            {% if object.main_visual %}{% thumbnail object.main_visual THUMBNAIL_ALIASES.thumb2 crop="center" as im %}
            <img src="{{ im.url }}" alt="{{object.title}}" />{% endthumbnail %}{% endif %}
            <div class="list_item_short">{{ object.teaser }}</div>
        </div>

        <div class="metadata_bottom">

            <div class="theme_col">
                <div class="caption">{% trans "THEME" %}</div>
                <div class="value">{{ object.theme }}</div>
            </div>

            <div class="feat_col">
                <img src="/static/designimages/sections-grey/age.svg" alt="" />
            </div>

            <div class="feat_col">
                <div class="caption">{% trans "AGE" %}</div>
                <div class="value">{{ object.age_range }}</div>
            </div>

            <div class="feat_col">
                <img src="/static/designimages/sections-grey/time.svg" alt="" />
            </div>

            <div class="feat_col">
                <div class="caption">{% trans "TIME" %}</div>
                <div class="value">{{ object.time }}</div>
            </div>
            <div class="link_col">
                <a href="{% url 'activities:detail' code=object.code slug=object.slug %}">
                    <img src="{% static 'designimages/arrow_next.svg' %}" alt="View activity" />
                </a>
            </div>
            <div style="clear: both"></div>
        </div>

    </div>
