{% extends 'base.html' %}

{% block site_title %}Activity Collections | astroEDU {% endblock %}

{% block content %}

<div class="layout_content">
	<div class="layout_container">
		<div class="layout_wide">
			<h2>Activity Collections</h2>

			{% if object_list %}
			<div class="archives_list">
			    {% for object in object_list %}
			    	{% include 'collections/list_item.html' %}
			    {% endfor %}
				<div style="clear: both"></div>
			</div>
			{% else %}
			    <p>No collections are available.</p>
			{% endif %}

		</div>
	</div>
</div>


{% endblock %}
