<!DOCTYPE html>
{% load i18n %}{% load staticfiles %}
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>{% block site_title %}astroEDU{% endblock %}</title>
<link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}" />
<link rel="stylesheet" href="{% static 'css/jquery.fancybox.css' %}" type="text/css" media="screen" />
{% block extra_css %}{% endblock %}
<script type="text/javascript" src="{% static 'js/jquery.js' %}"></script>
<script type="text/javascript" src="{% static 'js/jquery.fancybox.pack.js' %}"></script>
<script type="text/javascript">
	$(document).ready(function() {
		$(".fancybox").fancybox({
			padding : 0,
		});
	});
</script>
{% block extra_js %}{% endblock %}
</head>
<body>

{% if DEBUG %}
<!-- <p class="dev_alert">{{ DJANGO_SETTINGS_CONFIG }}</p> -->
{% endif %}

<div class="body_wrap">

{% block top %}
<div class="layout_top">
	
	<div class="layout_container" style="position: relative;">
	
		<div class="top_left">
			<a href="/">
				<img src="{% static 'designimages/astroedu_logo.png' %}" class="logo" />
			</a>
		</div>

		<div class="top_right_search">
			<a href="/volunteer" target="_blank">
				<img src="{% static 'designimages/volunteer_badge.png' %}" />
			</a>
			<div class="top_search">{% include "astroedu/search_form.html" %} </div>
		</div>
		<div style="clear: both"></div>
		<div class="curvy_bg"></div>

	</div>
</div>

{% endblock %}

{% block content %}{% endblock %}
 
	<div class="layout_resources">
		<div class="layout_container footer_meta">
		
		<div class="meta_action">
			
			<div class="action_icon">
				<a href="{% url 'activities:collections_list' %}"><img src="{% static 'designimages/bigicon_collections.png' %}"/></a>
			</div>
			
			<div class="orange_gray_button">
				<a href="{% url 'activities:collections_list' %}">
					<div>Activity Collections</div>
				</a>
			</div>

		</div>

		
		<div class="meta_action alignright">
			
			<div class="action_icon">
				<a href="/submission/">
					<img src="{% static 'designimages/bigicon_submit.png' %}"/>
				</a>
			</div>
			
			<div class="orange_gray_button">
				<a href="/submission/">
					<div>Submit Your Activities</div>
				</a>
			</div>

		</div>

		<div style="clear: both;"></div>

		</div>
	</div>

	<div class="layout_footer">
		<div class="layout_container">
					<!-- <li><a href="{% url 'activities:collections_list' %}">Collections</a></li> -->
		<div class="footer_left">

			<div class="footer_nav">
				<ul class="unbulleted">
					<li><a href="/submission/">Submission</a></li>
					<li><a href="/peerreview/">Peer Review</a></li>
					<li><a href="/ebl/">Enquiry</a></li>
					<li><a href="/faq/">FAQ</a></li>
				</ul>
			</div>
			<div class="footer_nav">
				<ul class="unbulleted">
					<li><a href="/about/">About</a></li>
					<li><a href="/workflow/">Workflow</a></li>
					<li><a href="/blog/">Blog</a></li>
					<li><a href="/contact/">Contact</a></li>
				</ul>
			</div>
		<div style="clear: both"></div>
		</div>

		<div class="footer_right">
			<div>
				<img src="{% static 'designimages/sponsors.png' %}" usemap="#map"/>
				<map name="map"> <!-- coords are: left top right bottom x-->
	  				<area shape="rect" coords="0,0,77,73" alt="IAU" href="http://www.iau.org" target="_blank">
	  				<area shape="rect" coords="104,0,174,73" alt="UNAWE" href="http://www.unawe.org" target="_blank">
	  				<area shape="rect" coords="192,0,292,73" alt="LCOGT" href="http://lcogt.net" target="_blank">
	  				<area shape="rect" coords="307,0,384,73" alt="Leiden University" href="http://www.leiden.edu" target="_blank">
	  				<area shape="rect" coords="406,0,477,73" alt="European Comission" href="http://ec.europa.eu/index_en.htm" target="_blank">
	  				<area shape="rect" coords="497,0,582,73" alt="UNESCO OER" href="http://www.unesco.org/new/en/communication-and-information/access-to-knowledge/open-educational-resources/what-are-open-educational-resources-oers/" target="_blank">

				</map>
			</div>
		</div>
		<div style="clear: both"></div>
		<!--
		<div style="margin-top: 50px; ">
			<a href="mailto:astroedu@strw.leidenuniv.nl?subject=Help+us+improve">
				<img src="{% static 'designimages/helpus_badge.png' %}"/>
			</a>
		</div>
		-->
		<div class="footer_profiles">
			<a href="https://www.facebook.com/iauastroedu"><img src="{% static 'designimages/sections-orange/social_facebook.png' %}"/></a>
			&nbsp;
			<a href="http://gplus.to/astroEDU"><img src="{% static 'designimages/sections-orange/social_google.png' %}"/></a>
			&nbsp;
			<a href="https://twitter.com/IAUastroEDU"><img src="{% static 'designimages/sections-orange/social_twitter.png' %}"/></a>
		</div>
	</div></div>

</div>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-44947668-1', 'iau.org');
  ga('send', 'pageview');

</script>
</body>
</html>
