<!DOCTYPE html>{% load i18n parler_tags staticfiles smartpages pipeline %}

{% get_current_language as LANGUAGE_CODE %}
<html lang="{{ LANGUAGE_CODE }}" dir="{{ LANGUAGE_BIDI|yesno:'rtl,ltr' }}">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="astroEDU is an open-access peer-review platform for educators to discover, review, distribute, improve, and remix the best astronomy education activities around the world.">
<link rel="search" type="application/opensearchdescription+xml" href="/opensearch_desc.xml" title="astroEDU">
<title>{% block site_title %}astroEDU{% endblock %}</title>
{% stylesheet 'styles' %}
{% block extra_head %}{% endblock %}
</head>
<body>
<div id="cookie-policy">
	<div class="layout_container">
		<span class="close-btn"><img src="{% static 'designimages/icon_close.png' %}" alt="Close"></span>
		<p>{% trans "This site uses cookies to offer you a better browsing experience." %} <a href="{% smartpage_url 'cookie-policy' %}" title="">{% trans "Read about how we use cookies." %}</a></p>
	</div>
</div>
<div class="body_wrap">

{% block top %}
	<div class="layout_top">
		
		<div class="layout_container" style="position: relative;">
		
			<div class="top_left">
				<a href="{% url 'home' %}">
					<img src="{% static 'designimages/astroedu_logo.png' %}" class="logo" alt="astroEDU Logo" />
				</a>
			</div>

			<div class="top_right_search">
				<a href="/volunteer" target="_blank">
					<img src="
					{% if LANGUAGE_CODE == 'en' %}
						{% static 'designimages/volunteer_badge.png' %}
					{% elif LANGUAGE_CODE == 'it' %}
						{% static 'designimages/unisciti_a_noi_volontari.png' %}
					{% endif %}
  					" alt="{% trans "apply as volunteer"%}" title="{% trans "Join us" %}: {% trans "Volunteer"%}!" />
				</a>
				<div class="top_search">{% include 'astroedu/search_form.html' %} </div>
			</div>
			<div style="clear: both"></div>
			<div class="curvy_bg"></div>

		</div>
	</div>

{% endblock %}

{% block content %}{% endblock %}
	<div class="layout_resources">
		<div class="layout_container">
		
			<div class="bigicon">
				<a href="{% url 'collections:list' %}">
					<img src="
					{% if LANGUAGE_CODE == 'en' %}
						{% static 'designimages/bigicon_collections.svg' %}
					{% elif LANGUAGE_CODE == 'it' %}
						{% static 'designimages/attivita_a_tema.svg' %}
					{% endif %}
					" alt="{% trans "Activity Collections" %} " />
				</a>
			</div>

			<div class="bigicon">
				<a href="{% url 'activities:list' %}">
					<img src="
					{% if LANGUAGE_CODE == 'en' %}
						{% static 'designimages/bigicon_activities.svg' %}
					{% elif LANGUAGE_CODE == 'it' %}
						{% static 'designimages/vedi_tutte_le_attivita.svg' %}
					{% endif %}
					" alt="{% trans "See All Activities" %}" />
				</a>
			</div>
			
			<div class="bigicon">
				<a href="/{{ LANGUAGE_CODE }}/submission/">
					<img src="
					{% if LANGUAGE_CODE == 'en' %}
						{% static 'designimages/bigicon_submit.svg' %}
					{% elif LANGUAGE_CODE == 'it' %}
						{% static 'designimages/sottometti_la_tua_attivita.svg' %}
					{% endif %}
					" alt="{% trans "Submit Your Activities" %}" />
				</a>
			</div>

			<div style="clear: both;"></div>

		</div>
	</div>

	<div class="layout_footer">
		<div class="layout_container">
		<div class="footer_left">

			<div class="footer_nav">
				<ul class="unbulleted">
					<li><a href="{% smartpage_url 'submission' %}">{% trans "Submission" %}</a></li>
					<li><a href="{% smartpage_url 'peerreview' %}">{% trans "Peer Review" %}</a></li>
					<li><a href="{% smartpage_url 'ebl' %}">{% trans "Enquiry" %}</a></li>
					<li><a href="{% smartpage_url 'faq' %}">{% trans "FAQ" %}</a></li>
				</ul>
			</div>
			<div class="footer_nav">
				<ul class="unbulleted">
					<li><a href="{% smartpage_url 'about' %}">{% trans "About" %}</a></li>
					<li><a href="{% smartpage_url 'workflow' %}">{% trans "Workflow" %}</a></li>
					<li><a href="/blog/">{% trans "Blog" %}</a></li>
					<li><a href="{% smartpage_url 'contact' %}">{% trans "Contact" %}</a></li>
				</ul>
			</div>
		<div style="clear: both"></div>
		</div>

		<div class="footer_right">
			<div class="sponsor-list">
				<ul>
					<li><a href="http://www.iau.org" title="IAU" target="_blank"><img src="{% static 'designimages/sponsors/iau_logo.png' %}" alt="sponsor: IAU" /></a></li>
					{% if LANGUAGE_CODE == 'en' %}
					<li><a href="http://www.unawe.org" title="UNAWE" target="_blank"><img src="{% static 'designimages/sponsors/unawe_logo.png' %}" alt="sponsor: UNAWE" /></a></li>
					<li><a href="http://www.ras.org.uk/" title="Royal Astronomical Society" target="_blank"><img src="{% static 'designimages/sponsors/ras_logo.png' %}" alt="sponsor: Royal Astronomical Society" /></a></li>
					{% endif %}
					<li><a href="http://www.leiden.edu" title="Leiden University" target="_blank"><img src="{% static 'designimages/sponsors/uni_leiden_logo.png' %}" alt="sponsor: Leiden University" /></a></li>
					{% if LANGUAGE_CODE == 'en' %}
					<li><a href="http://ec.europa.eu/index_en.htm" title="European Commission" target="_blank"><img src="{% static 'designimages/sponsors/eu_logo.png' %}" alt="sponsor: European Commission" /></a></li>
					<li><a href="https://lco.global/" title="LCO" target="_blank"><img style="width:80px;height:auto;" src="{% static 'designimages/sponsors/lco_logo.png' %}" alt="sponsor: LCO" /></a></li>
					<li><a href="http://www.unesco.org/new/en/communication-and-information/access-to-knowledge/open-educational-resources/what-are-open-educational-resources-oers/" title="UNESCO Open Educational Resources" target="_blank"><img src="{% static 'designimages/sponsors/unesco_oer_logo.png' %}" alt="sponsor: UNESCO OER" /></a></li>
					<li><a href="http://www.europlanet-eu.org/" title="Europlanet" class="europlanet" target="_blank"><img style="width:80px;height:auto;" src="{% static 'designimages/sponsors/europlanet_logo.svg' %}" alt="sponsor: Europlanet" /></a></li>
					{% endif %}
					{% if LANGUAGE_CODE == 'it' %}
					<li><a href="http://www.inaf.it/it" title="INAF" target="_blank"><img style="width:200px;height:auto;" src="{% static 'designimages/sponsors/INAF_logo.png' %}" alt="sponsor: INAF" /></a></li>
					{% endif %}
				</ul>
			</div>
		</div>
		<div style="clear: both"></div>
		<!--
		<div style="margin-top: 50px; ">
			<a href="mailto:astroedu@strw.leidenuniv.nl?subject=Help+us+improve">
				<img src="{% static 'designimages/helpus_badge.png' %}"/>
			</a>
		</div>
		-->
		<div class="footer_profiles">
			<a href="https://www.facebook.com/iauastroedu"><img src="{% static 'designimages/sections-orange/social_facebook.svg' %}" alt="astroEDU on Facebook" /></a>
			&nbsp;
			<a href="http://gplus.to/astroEDU"><img src="{% static 'designimages/sections-orange/social_google.svg' %}" alt="astroEDU on Google+" /></a>
			&nbsp;
			<a href="https://twitter.com/IAUastroEDU"><img src="{% static 'designimages/sections-orange/social_twitter.svg' %}" alt="astroEDU on Twitter" /></a>
		</div>
	</div></div>

</div>
<script type="application/javascript">
	var searchSuggestions = {
        strings: ["{% trans "Find Educational Activities" %}", "{% trans "Black holes" %}", "{% trans "Galaxies" %}", "{% trans "Drawing" %}", "{% trans "Primary School" %}"],
	    typeSpeed: 10,
	    backSpeed: -50,
	    loop: true,
	    showCursor: false,
	    backDelay: 3000
    }
</script>
{% javascript 'scripts' %}
{% block extra_script %}{% endblock %}
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-44947668-1', 'iau.org');
  ga('send', 'pageview');
</script>
</body>
</html>
