<!DOCTYPE html>{% load i18n parler_tags staticfiles smartpages pipeline %}

{% get_current_language as LANGUAGE_CODE %}
<html lang="{{ LANGUAGE_CODE }}" dir="{{ LANGUAGE_BIDI|yesno:'rtl,ltr' }}">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="astroEDU is an open-access peer-review platform for educators to discover, review, distribute, improve, and remix the best astronomy education activities around the world.">
<link rel="search" type="application/opensearchdescription+xml" href="/opensearch_desc.xml" title="astroEDU">
<title>{% block site_title %}astroEDU{% endblock %}</title>
{% stylesheet 'styles' %}
{% block extra_head %}{% endblock %}
</head>
<body>
<div id="cookie-policy">
	<div class="layout_container">
		<span class="close-btn"><img src="{% static 'designimages/icon_close.png' %}" alt="Close"></span>
		<p>{% trans "This site uses cookies to offer you a better browsing experience." %} <a href="{% smartpage_url 'cookie-policy' %}" title="">{% trans "Read about how we use cookies." %}</a></p>
	</div>
</div>
<div class="body_wrap">

{% block top %}
	<div class="layout_top">
		
		<div class="layout_container" style="position: relative;">
		
			<div class="top_left">
				<a href="{% url 'home' %}">
					<img src="{% static 'designimages/astroedu_logo.png' %}" class="logo" alt="astroEDU Logo" />
				</a>
			</div>

			<div class="top_right_search">
				<a href="/volunteer" target="_blank">
					<img src="{% static 'designimages/volunteer_badge.png' %}" alt="apply as volunteer" />
				</a>
				<div class="top_search">{% include 'astroedu/search_form.html' %} </div>
			</div>
			<div style="clear: both"></div>
			<div class="curvy_bg"></div>

		</div>
	</div>

{% endblock %}

{% block content %}{% endblock %}

	<div class="layout_resources">
		<div class="layout_container">
		
			<div class="bigicon">
				<a href="{% url 'collections:list' %}">
					<img src="{% static 'designimages/bigicon_collections.svg' %}" alt="Activity Collections" />
				</a>
			</div>
			
			<div class="bigicon">
				<a href="{% url 'activities:list' %}">
					<img src="{% static 'designimages/bigicon_activities.svg' %}" alt="See All Activities" />
				</a>
			</div>
			
			<div class="bigicon">
				<a href="/submission/">
					<img src="{% static 'designimages/bigicon_submit.svg' %}" alt="Submit Your Activities" />
				</a>
			</div>

			<div style="clear: both;"></div>

		</div>
	</div>

	<div class="layout_footer">
		<div class="layout_container">
		<div class="footer_left">

			<div class="footer_nav">
				<ul class="unbulleted">
					<li><a href="{% smartpage_url 'submission' %}">Submission</a></li>
					<li><a href="{% smartpage_url 'peerreview' %}">Peer Review</a></li>
					<li><a href="{% smartpage_url 'ebl' %}">Enquiry</a></li>
					<li><a href="{% smartpage_url 'faq' %}">FAQ</a></li>
				</ul>
			</div>
			<div class="footer_nav">
				<ul class="unbulleted">
					<li><a href="{% smartpage_url 'about' %}">About</a></li>
					<li><a href="{% smartpage_url 'workflow' %}">Workflow</a></li>
					<li><a href="/blog/">Blog</a></li>
					<li><a href="{% smartpage_url 'contact' %}">Contact</a></li>
				</ul>
			</div>
		<div style="clear: both"></div>
		</div>

		<div class="footer_right">
			<div class="sponsor-list">
				<ul>
					<li><a href="http://www.iau.org" title="IAU" target="_blank"><img src="{% static 'designimages/sponsors/iau_logo.png' %}" alt="sponsor: IAU" /></a></li>
					<li><a href="http://www.unawe.org" title="UNAWE" target="_blank"><img src="{% static 'designimages/sponsors/unawe_logo.png' %}" alt="sponsor: UNAWE" /></a></li>
					<li><a href="http://www.lcogt.net" title="LCOGT" target="_blank"><img src="{% static 'designimages/sponsors/lcogt_logo.png' %}" alt="sponsor: LCOGT" /></a></li>
					<li><a href="http://www.ras.org.uk/" title="Royal Astronomical Society" target="_blank"><img src="{% static 'designimages/sponsors/ras_logo.png' %}" alt="sponsor: Royal Astronomical Society" /></a></li>
					<li><a href="http://www.leiden.edu" title="Leiden University" target="_blank"><img src="{% static 'designimages/sponsors/uni_leiden_logo.png' %}" alt="sponsor: Leiden University" /></a></li>
					<li><a href="http://ec.europa.eu/index_en.htm" title="European Commission" target="_blank"><img src="{% static 'designimages/sponsors/eu_logo.png' %}" alt="sponsor: European Commission" /></a></li>
					<li><a href="http://www.unesco.org/new/en/communication-and-information/access-to-knowledge/open-educational-resources/what-are-open-educational-resources-oers/" title="UNESCO Open Educational Resources" target="_blank"><img src="{% static 'designimages/sponsors/unesco_oer_logo.png' %}" alt="sponsor: UNESCO OER" /></a></li>
				</ul>		
			</div>
		</div>
		<div style="clear: both"></div>
		<!--
		<div style="margin-top: 50px; ">
			<a href="mailto:astroedu@strw.leidenuniv.nl?subject=Help+us+improve">
				<img src="{% static 'designimages/helpus_badge.png' %}"/>
			</a>
		</div>
		-->
		<div class="footer_profiles">
			<a href="https://www.facebook.com/iauastroedu"><img src="{% static 'designimages/sections-orange/social_facebook.svg' %}" alt="astroEDU on Facebook" /></a>
			&nbsp;
			<a href="http://gplus.to/astroEDU"><img src="{% static 'designimages/sections-orange/social_google.svg' %}" alt="astroEDU on Google+" /></a>
			&nbsp;
			<a href="https://twitter.com/IAUastroEDU"><img src="{% static 'designimages/sections-orange/social_twitter.svg' %}" alt="astroEDU on Twitter" /></a>
		</div>
	</div></div>

</div>
{% javascript 'scripts' %}
{% block extra_script %}{% endblock %}
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-44947668-1', 'iau.org');
  ga('send', 'pageview');
</script>
</body>
</html>
