[Settings]
backups_dir = {{ backup_path }}
archives_dir = {{ backup_archives_path }}
hourly_backup_hour = 23
weekly_backup_day = 6
max_weekly_backups = 52
backup_extensions = ".gz", ".bz2"
log_level = ERROR
