[uwsgi]

# Django-related settings
# the base directory (full path)
chdir           = {{ BASE_DIR }}
# Django's wsgi file
module          = astroedu.wsgi
# the virtualenv (full path)
home            = {{ VIRTUALENV }}

# process-related settings
# master
master          = true
# maximum number of worker processes
processes       = 10
# the socket (use the full path to be safe
socket          = /home/web/usr/astroEDU.sock
# ... with appropriate permissions - may be needed
chmod-socket    = 664
# clear environment on exit
vacuum          = true

# logs
logto           = /home/web/usr/log/uwsgi.log
logdate         = true

# files created under django (FIXME: does not seem to be working... maybe need to fix in celery?)
umask           = 002